/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
#app {
	margin: 16px;
	border-radius: 4px;
	background-color: silver;
	padding: 16px;
}

.panels-app-panels{
  color: white;
  background: #555;
}

.panels-app-panels > * {
  width: 320px;
  box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
  -moz-box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
  -webkit-box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
}

/* Feed */

.list-feed-item {
  height: 40px;
  position: relative;
  border-bottom: 1px solid #0E0E0E;
  padding: 12px 16px;
  background-color: #333333;
  font-size: 14px;
  color: white;
}

.list-feed-title {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-feed-item.onyx-selected {
  background-color: MidnightBlue;
}

/* Feed entries */

.list-entry-item {
  height: 40px;
  position: relative;
  border-bottom: 1px solid #0E0E0E;
  padding: 12px 16px;
  background-color: #333333;
  font-size: 14px;
  color: white;
}

.list-entry-title {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
}

.full-view {
  background-color: #333;
  min-width: 80%;
  border: solid 5px #CCC;
  box-shadow: 1px 1px 5px #999;
  color: white;
}
